BugOpts FlickeringMoveWorkaround True, EWMHIconicStateWorkaround True
DesktopSize 3 1
IgnoreModifiers L25
HideGeometryWindow always
OpaqueMoveSize -1
DefaultLayers 2 4 4
Emulate MWM
EdgeScroll 0 0
EdgeResistance 500
EdgeThickness 1
#DefaultFont "xft:Sans:size=8.5:antialias=True"
Defaultfont "6x12"

# styling
ColorSet 16 fg gray90, bg slategray
Style * HilightColorSet 16
ColorSet 17 fg Gray20, bg gray60
Style * Colorset 17

DestroyDecor MyDecor
  AddToDecor   MyDecor
	+ TitleStyle LeftJustified Height 18
	+ ButtonStyle 2 ActiveUp   Vector 6 30x50@3 40x40@3 50x50@3 50x65@4 40x55@3 30x65@3 -- Flat
	+ ButtonStyle 2 ActiveDown Vector 6 30x50@3 40x40@3 50x50@3 50x65@4 40x55@3 30x65@3 -- Flat
	+ ButtonStyle 2 Inactive   Vector 6 30x50@3 40x40@3 50x50@3 50x65@4 40x55@3 30x65@3 -- Flat
	+ ButtonStyle 4 ActiveUp   Vector 6 40x50@3 30x40@3 40x30@3 55x50@4 40x40@3 55x30@3 -- Flat
	+ ButtonStyle 4 ActiveDown Vector 6 40x50@3 30x40@3 40x30@3 55x50@4 40x40@3 55x30@3 -- Flat
	+ ButtonStyle 4 Inactive   Vector 6 40x50@3 30x40@3 40x30@3 55x50@4 40x40@3 55x30@3 -- Flat
	+ ButtonStyle 6 ActiveUp   Vector 6 30x20@3 40x30@3 50x20@3 50x30@4 40x40@3 30x30@3 -- Flat
	+ ButtonStyle 6 ActiveDown Vector 6 30x20@3 40x30@3 50x20@3 50x30@4 40x40@3 30x30@3 -- Flat
	+ ButtonStyle 6 Inactive   Vector 6 30x20@3 40x30@3 50x20@3 50x30@4 40x40@3 30x30@3 -- Flat
	+ TitleStyle -- Flat
	+ BorderStyle Simple -- NoInset Flat
	+ ButtonStyle All -- UseTitleStyle

Style * UseDecor MyDecor
Style * Title, Handles
Style * TitleStyle MWM
Style * CascadePlacement
Style * SloppyFocus
Style * PositionPlacement UnderMouse
Style * MouseFocusClickRaises
Style * EWMHUseStackingOrderHints
Style * ResizeOpaque
Style * !StippledTitle
Style * BorderWidth 2, HandleWidth 2
Style * SnapAttraction 5 All ScreenAll
Style * TitleFormat %c

TitleStyle Active, Inactive
TitleStyle Height 18

ButtonStyle Reset
ButtonStyle All Inactive Colorset 17
ButtonStyle All Active Colorset 16

Style * FPGrabFocusTransient, FPReleaseFocusTransient
Style * DecorateTransient, DontRaiseTransient
Style * DontLowerTransient, StackTransientParent
Style * GrabFocusTransientOff
Style * WindowShadeSteps 20, WindowShadeScrolls

Style "xload" !Title, !Borders, !Handles
Style "xclock" !Title, !Borders, !Handles
Style "chromium-browser" !Title, !Borders, !Handles
Style "feh" !Title, Borders, BorderWidth 1

MenuStyle Reset
MenuStyle * PopupImmediately, PopdownImmediately, PopupOffset 0 100
MenuStyle * VerticalItemSpacing 4 4, VerticalTitleSpacing 4 4
MenuStyle * HilightBack SteelBlue4, ActiveFore White
MenuStyle * Hilight3DOff, TrianglesUseFore, TrianglesSolid
MenuStyle * TitleColorset 18, HilightTitleBack
MenuStyle * BorderWidth 0, TitleUnderlines1, ItemFormat "  %l%>  "

# init func
#AddToFunc "InitFunction" "I" Module FvwmButtons
#AddToFunc "RestartFunction" "I" Module FvwmButtons
#AddToFunc StartFunction "I" Module FvwmButtons

# func
DestroyFunc MoveAndRaise
AddToFunc MoveAndRaise I Focus
+ I Raise
+ M Move
+ C Raise

DestroyFunc RaiseAndResize
AddToFunc RaiseAndResize
+ I Resize direction SE
+ M Raise

AddToFunc RaiseAndFocus
 + I Iconify Off
 + I Raise
 + I Focus


# keybindings
Mouse 1 R A Menu RootMenu
Mouse 2 R A Menu SystemMenu
Mouse 3 R A Menu WindowMenu

Mouse 1 2 A Close
Mouse 1 4 A Maximize
Mouse 1 6 A Iconify

Mouse 0 I A Iconify

# super + left_mouse - move window
Mouse 1   TFSW   4     Function "MoveAndRaise"
# super + right_mouse - resize window
Mouse 3   TSFW   4     Function "RaiseAndResize"

# win + arrow keys changes workspace
Key Left  A 4 Scroll -100 0
Key Right A 4 Scroll +100 +0
Key Up    A 4 Scroll +0 -100
Key Down  A 4 Scroll +0 +100

# alt+tab
Key Tab A M WindowList Root c c NoCurrentDeskTitle, TitleForAllDesks, MaxLabelWidth 999, NoNumInDeskTitle, IconifiedAtEnd

# shortcuts
Key R       A 4S Restart
Key Q       A 4S Quit
Key Space   A 4 Exec exec rofi -show drun
Key Return  A 4 Exec exec alacritty 
Key F       A 4 Exec exec chrome 
Key S       A 4S Exec exec scrot -s -f
Key E 	    A 4 Exec exec thunar
Key M       A 4 Maximize

# menus
AddToMenu RootMenu
+ "OpenBSD"		    Title
+ "XTerm" 			  Exec exec xterm 
+ "Chromium" 	    Exec exec chrome
+ ""              Nop
+ "Restart FVWM"  Restart
+ "Logout" 			  Quit

AddToMenu WindowMenu
+ "Move" Move
+ "Resize" Resize
+ "Iconify" Iconify
+ "" Nop
+ "Close" Close
+ "Delete" Delete
+ "Destroy" Destroy

AddToMenu SystemMenu
+ "Sleep" Exec zzz
