BugOpts FlickeringMoveWorkaround True
DesktopSize 3 1
IgnoreModifiers L25
HideGeometryWindow always
OpaqueMoveSize -1
DefaultLayers 2 4 4

EdgeScroll 0 0
EdgeResistance 500
EdgeThickness 1
DefaultFont "xft:Sans:size=8.5:antialias=True"

# style
ColorSet 16 fg black, bg "pink3"
Style * HilightColorSet 16

ColorSet 17 fg Gray10, bg gray60
Style * Colorset 17

Style * Title, !Handles
Style * TitleStyle Flat
Style * CascadePlacement
Style * SloppyFocus
Style * PositionPlacement UnderMouse
Style * MouseFocusClickRaises
Style * EWMHUseStackingOrderHints
Style * ResizeOpaque
Style * !StippledTitle
Style * Font "Xft:Sans:Regular:pixelsize=12:minspace=true:antialias=true"
Style * BorderWidth 1, HandleWidth 1
Style * SnapAttraction 5 All ScreenAll
Style * TitleFormat %c

TitleStyle Active, Inactive -- flat
TitleStyle Height 18 -- flat

ButtonStyle Reset
ButtonStyle All Inactive Colorset 17 -- Flat
ButtonStyle All Active Colorset 16 -- Flat

Style * DecorateTransient, StackTransientParent
Style * FPGrabFocusTransient, FPReleaseFocusTransient

Style "FvwmPager" NoTitle, Sticky, WindowListSkip, NoHandles, StaysOnBottom, FixedPosition
Style "xload" !Title, !Borders, !Handles
Style "firefox" !Title, Borders, BorderWidth 1, !Handles
Style "feh" !Title, Borders, BorderWidth 1

*FvwmPagerBack gray20
*FvwmPagerFore gray80
*FvwmPagerHilight gray30
*FvwmPagerFont none
*FvwmPager: SolidSeparators

DestroyModuleConfig FvwmButtons: *

Style "FvwmButtons" !Title, !Handles, BorderWidth 0, HandleWidth 0
Style "FvwmButtons" Sticky, WindowListSkip, CirculateSkip
Style "FvwmButtons" StaysOnTop, FixedPosition, FixedSize, !Iconifiable

*FvwmButtons: Geometry 500x35-0+0
*FvwmButtons: Back gray30
*FvwmButtons: Fore white
*FvwmButtons: Font "xft:Sans:size=10"
*FvwmButtons: Rows 1
*FvwmButtons: Frame 0
*FvwmButtons: Padding 2 2
*FvwmButtons: (2x1, Swallow "xclock" 'Exec exec xclock -digital -render -face "Xft:sq:pixelsize=10" -strftime "%m %h %H:%M" -update 1 -bg gray30 -fg gray80 -padding 5')

*FvwmButtons: (2x1, Swallow "xload" 'Exec exec xload -bg gray30 -fg cyan -update 5 -nolabel')
*FvwmButtons: (4x1, Swallow "FvwmPager" 'Module FvwmPager 0 0')


MenuStyle * PopupImmediately, PopdownImmediately, PopupOffset 0 100
MenuStyle * VerticalItemSpacing 4 4, VerticalTitleSpacing 4 4
MenuStyle * HilightBack SteelBlue4, ActiveFore White
MenuStyle * Hilight3DOff, TrianglesUseFore, TrianglesSolid
MenuStyle * TitleColorset 18, HilightTitleBack
MenuStyle * BorderWidth 1, TitleUnderlines1, ItemFormat "  %l%>  "

# func
AddToFunc "InitFunction" "I" Module FvwmButtons
#AddToFunc "RestartFunction" "I" Module FvwmButtons
AddToFunc StartFunction "I" Module FvwmButtons

DestroyFunc MoveAndRaise
AddToFunc MoveAndRaise I Focus
+ I Raise
+ M Move
+ C Raise

DestroyFunc RaiseAndResize
AddToFunc RaiseAndResize
+ I Resize direction SE
+ M Raise

AddToFunc RaiseAndFocus
 + I Iconify Off
 + I Raise
 + I Focus

# keybindings
Mouse 1 R A Menu RootMenu
Mouse 2 R A Menu SystemMenu
Mouse 3 R A Menu WindowMenu

Mouse 1 2 A Close
Mouse 1 4 A Maximize
Mouse 1 6 A Iconify

Mouse 0 I A Iconify

# super + left_mouse - move window
Mouse 1   TFSW   4     Function "MoveAndRaise"
# super + right_mouse - resize window
Mouse 3   TSFW   4     Function "RaiseAndResize"

# win + arrow keys changes workspace
Key Left  A 4 Scroll -100 0
Key Right A 4 Scroll +100 +0
Key Up    A 4 Scroll +0 -100
Key Down  A 4 Scroll +0 +100

Key Tab   	A 	M WindowList Root c c NoCurrentDeskTitle, TitleForAllDesks, MaxLabelWidth 999, NoNumInDeskTitle, IconifiedAtEnd
Key R       A 	4S  Restart
Key Q       A 	4S  Quit
Key Space   A  	4  Exec exec rofi -show drun
Key Return  A 	4 Exec exec xterm 
Key F       A 	4 Exec exec chrome 
Key S       A   4S Exec exec scrot -s -f
Key E 	    A   4 Exec exec thunar
Key M       A 	4 Maximize

# menus
AddToMenu RootMenu
+ "OpenBSD"		    Title
+ "XTerm" 			  Exec exec xterm 
+ "Chromium" 	    Exec exec chrome
+ ""              Nop
+ "Restart FVWM"  Restart
+ "Logout" 			  Quit


AddToMenu WindowMenu
+ "Move" Move
+ "Resize" Resize
+ "Iconify" Iconify
+ "" Nop
+ "Close" Close
+ "Delete" Delete
+ "Destroy" Destroy

AddToMenu SystemMenu
+ "Sleep" Exec zzz
